@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  text-align: center;
}

.sonucContainer {
  font-size: large;
  color: red;
  font-weight: bold;
}

.sayiContainer {
  padding: 10px;
}
#btnUret {
  margin-top: 15px;;
}